:root {
  --main-font-color: #2B323C;
  --main-border-color:#EFEFEF;
  --map-height: 500px;
  --map-height-sm: 250px;
  --multi-column-columns:3;
  --column-width:200px;
  --column-gap:20px;
}

/** {
  box-sizing: border-box;
}*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h2{
  color: var(--main-font-color);
}
/**
* map
*/
.map-container {
  border: 1px solid var(--main-border-color);
}
.map {
  display:block;
  width:100%;
  height:var(--map-height);
  position: relative;
  clear: both;
}

/*
 * places list
 */
.places-container {
  background-color: #F9FAFA;
  border: 1px solid var(--main-border-color);
  position: relative;
  clear: both;
}
.places-filter-container {
  padding-top: 10px;
  padding-left: 10px;
}
.places-filter {
  width: var(--column-width);
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  font-size: 1.125em;
  margin: 3px;
}
.places-list {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.multi-column {
  list-style-type: none;
  margin: 0;
  padding: 0;

  columns: var(--multi-column-columns);
  column-width: var(--column-width);
  column-gap: var(--column-gap);
  /* Chrome, Safari, Opera */
  -webkit-columns: var(--multi-column-columns);
  -webkit-column-width: var(--column-width);
  -webkit-column-gap: var(--column-gap);
  /* Firefox */
  -moz-columns: var(--multi-column-columns);
  -moz-column-width: var(--column-width);
  -moz-column-gap: var(--column-gap);

}
.multi-column li {
  font-size: 0.875em;
  font-weight: 500;
  margin:0.25em;
}

.places-list a::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0f4';/*fa-coffee*/
  margin-right: 0.5em;

  color: var(--main-font-color);
}
.places-list a:link,
.places-list a:visited {
  text-decoration: none;
  color: var(--main-font-color);
}
.places-list a:hover .feather,
.places-list a.active .feather {
  color: inherit;
}

/**
 * info window image thumbnail
 */
.info-card-img {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
  overflow: hidden;
}
.info-card-img img {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.info-card-txt h6,
.info-card-txt p {
  color: var(--main-font-color);
  max-width: 200px;
}

